<!DOCTYPE html>
<html>
  <head>
    <title><%= model %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= model %></h1>
    <p>Welcome to <%= model %></p>
  </body>
</html>
