<%- include('../partials/header') %>

<h1 class="page-title">Add Car</h1>

<form id="new-form" action="/cars" method="POST">
  <label>Maker :</label>
  <input type="text" name="maker">
  <label>Model :</label>
  <input type="text" name="model">
  <label>Year :</label>
  <input type="text" name="releaseYear">
  <label>Purchase Date :</label>
  <input type="date" name="purchase-date">
  <label>Price :</label>
  <input type="number" name="purchasePrice">
  <br>

  <input type="submit" value="Add Car">
  
  
</form>

<%- include('../partials/footer') %>
