<%- include('../partials/header') %>

<form id="new-form" action="/cars" method="POST">
  <label>Maker:</label>
  <input type="text" name="maker">
  <label>Model:</label>
  <input type="text" name="model">
  <label>Year:</label>
  <input type="text" name="releaseYear">
  <label>Purchase Date:</label>
  <input type="date" name="purchase-date">
  <label>Price:</label>
  <input type="number" name="purchase-price">
  <br>

  <input type="submit" value="Add Car">
  
  
</form>

<%- include('../partials/footer') %>
